<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="vue">
        <button :disabled="permitirAñadirEntrada" @click="cambiarVisibilidad()">Ver texto entradas</button>
        <div v-for="entrada in entradasDeEspana" :id="entrada.codigoArt">
            <h2>{{entrada.titulo}}</h2>
            <p v-if="verEntrada">{{entrada.texto}}</p>
            <p v-else>Las entradas no se muestran :)</p>
            <a :href="entrada.url">Link</a>
        </div>
        <h3>Actualmente hay {{muestraNumArtículos()}} artículos.</h3>
        <!-- <h3>En nuestro blog hay {{entradasDeEspana}} entradas de España.</h3> -->
    </div>
</body>
<script src="./index.js"></script>
</html>